
*.rpt
*.done
*.smsg
*.summary
*.qws

*.jdi
*.pin
*.pof
*.sld
*.sof

*.db_info
*.sci
*.bsf
*.tmw_info
*.bak

1_porte_logique/db/
1_porte_logique/incremental_db/
1_porte_logique/simulation/

2_compteur_4b_btn/db/
2_compteur_4b_btn/incremental_db/
2_compteur_4b_btn/simulation/

3_compteur_4b_clk/db/
3_compteur_4b_clk/incremental_db/
3_compteur_4b_clk/simulation/

4_fsm_logic/db/
4_fsm_logic/incremental_db/
4_fsm_logic/simulation/

5_fsm_gui/db/
5_fsm_gui/incremental_db/
5_fsm_gui/simulation/

6_chenillard_logic/db
6_chenillard_logic/incremental_db
6_chenillard_logic/simulation

7_chenillard_fsm/db
7_chenillard_fsm/incremental_db
7_chenillard_fsm/simulation
